<footer>
  <nav style="background-color: #C0C0C0;" class="navbar fixed-bottom navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sobrePage">Quem somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/areasPage">Áreas de Atuação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contatoPage">Contato</a>
          </li>
        </ul>
      </div>
      <div class="redes" style="margin-right: 20%;">
        <h3>Redes Sociais</h3>
        <div style="display: flex; flex-direction: column;">
          <a>Twitter</a>
          <a>Instagram</a>
          <a>Youtube</a>
        </div>
      </div>
    </div>
  </nav>
</footer>
