<body>
  <section>
    <body>
      <section>
        <div class="container">
          <div class="institucional">
            <div style="margin: 10px"><h2>Institucional</h2></div>
            <div style="margin: 10px" class="descricao-institucional">
              <p>Atuamos em todos os ramos do Direito Público.</p>
              <p>
                Nossa equipe de Direito Público e Regulatório assessora empresas
                nacionais e internacionais nos mais variados setores de
                indústria, incluindo os setores de produtos químicos, energia,
                alimentos e farmacêuticos, entre outros. Temos vasta experiência
                em litígios perante todos os tribunais administrativos do
                Brasil.
              </p>
              <p>
                Nossos profissionais têm um profundo conhecimento e
                especialização em diversas matérias do Direito Público e
                Regulatório, tais como regulamentos e decisões, legislação
                econômica e financiamento de projetos infraestrutura, leis
                orçamentárias, finanças públicas e garantias governamentais e
                questões contenciosas envolvendo Direito Público em geral.
              </p>
              <p>
                Atuamos, ainda, em procedimentos administrativos complexos,
                zoneamento e legislação ambiental, bem como contratos públicos.
              </p>
            </div>
          </div>
        </div>
      </section>
    </body>
  </section>
  <section>
    <div>
      <h1>Equipe</h1>
    </div>
    <div class="container-equipe">
      <div class="card" style="width: 18rem">
        <img
          src="https://images.pexels.com/photos/3153207/pexels-photo-3153207.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Atuação nas áreas do Direito Penal, Processual Penal, Tribunal do Júri, Direito Administrativo, Tributário e Econômico e Direito Coletivo.
          </p>
          <div style="text-align: center">
            <button (click)="navegacao()" type="button" class="btn btn-info">
              Saiba Mais
            </button>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="https://images.pexels.com/photos/8145352/pexels-photo-8145352.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Advogado com atuação em Direito Penal, Direito Internacional, Direito Civil e Direito Administrativo.
          </p>
          <div style="text-align: center">
            <button (click)="navegacao()" type="button" class="btn btn-info">
              Saiba Mais
            </button>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="https://images.pexels.com/photos/8145352/pexels-photo-8145352.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Bacharel em Direito pela Faculdade de Direito de Curitiba, em 2006;
          </p>
          <div style="text-align: center">
            <button (click)="navegacao()" type="button" class="btn btn-info">
              Saiba Mais
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Fim Equipe-->
  <!--Nossos Serviços-->
  <section style="margin-top: 30px;">
    <div>
      <h1>Nossos Serviços</h1>
    </div>
    <div class="container-areas">
      <div class="card" style="width: 18rem">
        <img
          style="margin: 10px"
          src="/assets/grupo-de-pessoas.png"
          alt="..."
        />
        <h4>Direito do Trabalho</h4>
      </div>
      <div class="card" style="width: 18rem">
        <img style="margin: 10px" src="/assets/martelo.png" alt="..." />
        <h4>Direito do Civil</h4>
      </div>
      <div class="card" style="width: 18rem">
        <img
          style="margin: 10px"
          src="/assets/balanca-de-justica.png"
          alt="..."
        />
        <h4>Penal</h4>
      </div>
      <div class="card" style="width: 18rem">
        <img style="margin: 10px" src="/assets/contrato.png" alt="..." />
        <h4>Contratos</h4>
      </div>
      <div class="card" style="width: 18rem">
        <img style="margin: 10px" src="/assets/ecologia.png" alt="..." />
        <h4>Ambiental</h4>
      </div>
      <div class="card" style="width: 18rem">
        <img style="margin: 10px" src="/assets/chaves.png" alt="..." />
        <h4>Locação</h4>
      </div>
    </div>
    <div style="text-align: center;">
      <button  type="button" class="btn btn-info"><a style="text-decoration: none; color: white;" routerLink="/areasPage">Veja Mais</a></button>
    </div>
  </section>
  <!--Fim Nossos Serviços-->
  <section>
    <!--DEPOIMENTOS-->
    <div id="depoimentos" class="block">
      <div class="container">
        <h2 class="title text-center">Depoimentos</h2>
        <h4 class="subtitle text-center mb-4">
          Empresas e Pessoas que utilizaram nossos serviços
        </h4>
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide
            ><div>
              <div class="depoimento">
                <div><img class="img-profile" src="/assets/user.png" /></div>
                <div class="depoimento-texto pl-3">
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium dolorem que laudantium, totam rem
                    aperiam, eaque ipsa quae ab illo inventore veritatis.
                  </p>
                  <p class="name">
                    <span>Maikel Neris</span> / Diretor da Decode Web
                  </p>
                </div>
                <div class="content-aspas">
                  <img class="img-aspas" src="/assets/aspas.png" />
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide
            ><div>
              <div class="depoimento">
                <div><img class="img-profile" src="/assets/user.png" /></div>
                <div class="depoimento-texto pl-3">
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium dolorem que laudantium, totam rem
                    aperiam, eaque ipsa quae ab illo inventore veritatis.
                  </p>
                  <p class="name">
                    <span>Maikel Neris</span> / Diretor da Decode Web
                  </p>
                </div>
                <div class="content-aspas">
                  <img class="img-aspas" src="/assets/aspas.png" />
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide
            ><div>
              <div class="depoimento">
                <div><img class="img-profile" src="/assets/user.png" /></div>
                <div class="depoimento-texto pl-3">
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium dolorem que laudantium, totam rem
                    aperiam, eaque ipsa quae ab illo inventore veritatis.
                  </p>
                  <p class="name">
                    <span>Maikel Neris</span> / Diretor da Decode Web
                  </p>
                </div>
                <div class="content-aspas">
                  <img class="img-aspas" src="/assets/aspas.png" />
                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
    <!-- Fim DEPOIMENTOS-->
  </section>
</body>
