<body>
  <section>
    <div>
      <h2>Áreas de Atuação</h2>
    </div>
    <div class="container-equipe">
      <div class="card" style="width: 18rem">
        <!-- <img
          src="https://images.pexels.com/photos/3153207/pexels-photo-3153207.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          class="card-img-top"
          alt="..."
        /> -->
        <div class="card-body">
          <div class="content-img" >
            <img
              src="/assets/grupo-de-pessoas.png"
              class="card-img-top"
              alt="..."
            />
          </div>
          <h4>Direito do Trabalho</h4>
          <ul>
            <li>
              <p>Vínculo Empregatício</p>
            </li>
            <li>
              <p>Reclamatórias Trabalhistas</p>
            </li>
            <li>
              <p>Defesas Trabalhistas</p>
            </li>
            <li>
              <p>Contrato de Trabalho</p>
            </li>
            <li>
              <p>Acidentes do Trabalho</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <div class="content-img">
            <img
              src="/assets/martelo.png"
              class="card-img-top"
              alt="..."
            />
          </div>
          <h4>Direito civil</h4>
          <ul>
            <li>
              <p>Notificações Extrajudiciais</p>
            </li>
            <li>
              <p>Ações de Indenização por Dano Moral/Material</p>
            </li>
            <li>
              <p>Ações de Obrigação de Fazer</p>
            </li>
            <li>
              <p> Ações de Cobrança e Execuções</p>
            </li>
            <li>
              <p>Ações Indenizatórias Decorrentes de Acidente de Trânsito</p>
            </li>
          </ul>

        </div>
      </div>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <div class="content-img">
            <img
              src="/assets/balanca-de-justica.png"
              class="card-img-top"
              alt="..."
            />
          </div>
          <h4>Penal</h4>
          <ul>
            <li>
              <p>Delitos de Trânsito</p>
            </li>
            <li>
              <p>Crimes de Menor Potencial Ofensivo</p>
            </li>
            <li>
              <p>Ameaça</p>
            </li>
            <li>
              <p>Injúria, Calúnia, Difamação.</p>
            </li>
            <li>
              <p>Defesas no Tribunal do Júri.</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <div class="content-img">
            <img
              src="/assets/contrato.png"
              class="card-img-top"
              alt="..."
            />
          </div>
          <h4>Contratos</h4>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <div class="content-img">
            <img
              src="/assets/ecologia.png"
              class="card-img-top"
              alt="..."
            />
          </div>
          <h4>Ambiental</h4>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <div class="content-img">
        <img
          src="/assets/chaves.png"
          class="card-img-top"
          alt="..."
        />
      </div>
        <div class="card-body">
          <h4>Locação</h4>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </section>
</body>
