<body>
  <section>
    <div class="container">
      <div class="institucional">
        <div style="margin: 10px;"> <h2>Institucional</h2></div>
        <div style="margin: 10px;" class="descricao-institucional">
          <p>
            Atuamos em todos os ramos do Direito Público.
          </p>
          <p>
            Nossa equipe de Direito Público e Regulatório assessora empresas nacionais e internacionais nos mais variados setores de indústria, incluindo os setores de produtos químicos, energia, alimentos e farmacêuticos, entre outros. Temos vasta experiência em litígios perante todos os tribunais administrativos do Brasil.
          </p>
          <p>
            Nossos profissionais têm um profundo conhecimento e especialização em diversas matérias do Direito Público e Regulatório, tais como regulamentos e decisões, legislação econômica e financiamento de projetos infraestrutura, leis orçamentárias, finanças públicas e garantias governamentais e questões contenciosas envolvendo Direito Público em geral.
          </p>
          <p>
            Atuamos, ainda, em procedimentos administrativos complexos, zoneamento e legislação ambiental, bem como contratos públicos.
          </p>
        </div>
      </div>
    </div>
  </section>
</body>
