<body>
  <section>
    <div class="container">
      <div>
        <img src="https://images.pexels.com/photos/3153207/pexels-photo-3153207.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      </div>
      <div class="descricao">
        <h2>Lúcia Maria Beloni Correa Dias</h2>
        <p>• Atuação nas áreas do Direito Penal, Processual Penal, Tribunal do Júri, Direito Administrativo, Tributário e Econômico e Direito Coletivo;
          <br>
          • Conselheira Estadual da Ordem dos Advogados do Brasil Seção do Paraná (1998 / até os dias de hoje);
          <br>
          • Presidente da Comissão de Estabelecimentos Prisionais da Ordem dos Advogados do Brasil Seção do Paraná (1998 / até os dias de hoje);
          <br>

          • Professora de Direito Processual Penal da Pontifícia Universidade Católica do Paraná –PUC/PR (1989/2009);
        </p>
      </div>
    </div>
    <div class="container">
      <div>
        <img src="https://images.pexels.com/photos/8145352/pexels-photo-8145352.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      </div>
      <div class="descricao">
        <h2>Steeve Beloni Correa Dielle Dias</h2>
        <p>• Atuação nas áreas do Direito Penal, Processual Penal, Tribunal do Júri, Direito Administrativo, Tributário e Econômico e Direito Coletivo;
          <br>
          • Conselheira Estadual da Ordem dos Advogados do Brasil Seção do Paraná (1998 / até os dias de hoje);
          <br>
          • Presidente da Comissão de Estabelecimentos Prisionais da Ordem dos Advogados do Brasil Seção do Paraná (1998 / até os dias de hoje);
          <br>

          • Professora de Direito Processual Penal da Pontifícia Universidade Católica do Paraná –PUC/PR (1989/2009);
        </p>
      </div>
    </div>
    <div class="container">
      <div>
        <img src="https://images.pexels.com/photos/8145352/pexels-photo-8145352.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      </div>
      <div class="descricao">
        <h2>Lúcia Maria Beloni Correa Dias</h2>
        <p>• Atuação nas áreas do Direito Penal, Processual Penal, Tribunal do Júri, Direito Administrativo, Tributário e Econômico e Direito Coletivo;
          <br>
          • Conselheira Estadual da Ordem dos Advogados do Brasil Seção do Paraná (1998 / até os dias de hoje);
          <br>
          • Presidente da Comissão de Estabelecimentos Prisionais da Ordem dos Advogados do Brasil Seção do Paraná (1998 / até os dias de hoje);
          <br>

          • Professora de Direito Processual Penal da Pontifícia Universidade Católica do Paraná –PUC/PR (1989/2009);
        </p>
      </div>
    </div>

  </section>
</body>
